In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
ecg = pd.read_csv('08405_label_100_data.csv')
ecg

,0,195,112,277,192,186,188,191,189,190,...,189.12,189.13,187.7,189.14,192.9,191.16,191.17,191.18,191.19,191.20
0,0,112,277,192,186,188,191,189,190,191,...,189,187,189,192,191,191,191,191,191,187
1,0,277,192,186,188,191,189,190,191,189,...,187,189,192,191,191,191,191,191,187,190
2,0,192,186,188,191,189,190,191,189,187,...,189,192,191,191,191,191,191,187,190,192
3,0,186,188,191,189,190,191,189,187,189,...,192,191,191,191,191,191,187,190,192,191
4,0,188,191,189,190,191,189,187,189,188,...,191,191,191,191,191,187,190,192,191,188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58750,100,108,96,128,226,190,181,109,179,103,...,100,117,108,102,114,90,96,91,137,106
58751,100,96,128,226,190,181,109,179,103,91,...,117,108,102,114,90,96,91,137,106,104
58752,100,128,226,190,181,109,179,103,91,92,...,108,102,114,90,96,91,137,106,104,97
58753,100,226,190,181,109,179,103,91,92,110,...,102,114,90,96,91,137,106,104,97,110
58754,100,190,181,109,179,103,91,92,110,98,...,114,90,96,91,137,106,104,97,110,163

In [3]:
ecg.columns = ['label', '0', '1', '2', '3', '4', '5', '6', '7','8','9','10',
              '11', '12', '13', '14', '15', '16', '17','18','19','20',
              '21', '22', '23', '24', '25', '26', '27','28','29','30',
              '31', '32', '33', '34', '35', '36', '37','38','39','40',
              '41', '42', '43', '44', '45', '46', '47','48','49','50',
              '51', '52', '53', '54', '55', '56', '57','58','59','60',
              '61', '62', '63', '64', '65', '66', '67','68','69','70',
              '71', '72', '73', '74', '75', '76', '77','78','79','80',
              '81', '82', '83', '84', '85', '86', '87','88','89','90',
              '91', '92', '93', '94', '95', '96', '97','98','99']

In [4]:
ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,112,277,192,186,188,191,189,190,191,...,189,187,189,192,191,191,191,191,191,187
1,0,277,192,186,188,191,189,190,191,189,...,187,189,192,191,191,191,191,191,187,190
2,0,192,186,188,191,189,190,191,189,187,...,189,192,191,191,191,191,191,187,190,192
3,0,186,188,191,189,190,191,189,187,189,...,192,191,191,191,191,191,187,190,192,191
4,0,188,191,189,190,191,189,187,189,188,...,191,191,191,191,191,187,190,192,191,188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58750,100,108,96,128,226,190,181,109,179,103,...,100,117,108,102,114,90,96,91,137,106
58751,100,96,128,226,190,181,109,179,103,91,...,117,108,102,114,90,96,91,137,106,104
58752,100,128,226,190,181,109,179,103,91,92,...,108,102,114,90,96,91,137,106,104,97
58753,100,226,190,181,109,179,103,91,92,110,...,102,114,90,96,91,137,106,104,97,110
58754,100,190,181,109,179,103,91,92,110,98,...,114,90,96,91,137,106,104,97,110,163

In [5]:
import re
string = "0	195	112	277	192	186	188	191	189	190	191	189	187	189	188	188	189	192	195	195	193	190	191	191	191	193	194	193	195	196	192	191	190	191	191	192	190	192	191	189	188	191	188	189	190	186	187	189	186	186	190	189	188	194	192	192	190	192	188	191	194	194	193	192	190	193	191	186	188	189	186	187	189	187	185	189	188	190	191	188	187	191	189	187	190	191	190	193	191	188	187	189	189	187	189	192	191	191	191	191	191"

















pattern = re.compile("^\s+|\s*,\s*|\s+$,\t")
print([x for x in pattern.split(string) if x])
first_row = [x for x in pattern.split(string) if x]

# first_row.split('\t')

['0\t195\t112\t277\t192\t186\t188\t191\t189\t190\t191\t189\t187\t189\t188\t188\t189\t192\t195\t195\t193\t190\t191\t191\t191\t193\t194\t193\t195\t196\t192\t191\t190\t191\t191\t192\t190\t192\t191\t189\t188\t191\t188\t189\t190\t186\t187\t189\t186\t186\t190\t189\t188\t194\t192\t192\t190\t192\t188\t191\t194\t194\t193\t192\t190\t193\t191\t186\t188\t189\t186\t187\t189\t187\t185\t189\t188\t190\t191\t188\t187\t191\t189\t187\t190\t191\t190\t193\t191\t188\t187\t189\t189\t187\t189\t192\t191\t191\t191\t191\t191']

In [6]:
first_row =first_row[0].split('\t')

In [7]:
type(first_row)

list

In [8]:
first_row

['0',
 '195',
 '112',
 '277',
 '192',
 '186',
 '188',
 '191',
 '189',
 '190',
 '191',
 '189',
 '187',
 '189',
 '188',
 '188',
 '189',
 '192',
 '195',
 '195',
 '193',
 '190',
 '191',
 '191',
 '191',
 '193',
 '194',
 '193',
 '195',
 '196',
 '192',
 '191',
 '190',
 '191',
 '191',
 '192',
 '190',
 '192',
 '191',
 '189',
 '188',
 '191',
 '188',
 '189',
 '190',
 '186',
 '187',
 '189',
 '186',
 '186',
 '190',
 '189',
 '188',
 '194',
 '192',
 '192',
 '190',
 '192',
 '188',
 '191',
 '194',
 '194',
 '193',
 '192',
 '190',
 '193',
 '191',
 '186',
 '188',
 '189',
 '186',
 '187',
 '189',
 '187',
 '185',
 '189',
 '188',
 '190',
 '191',
 '188',
 '187',
 '191',
 '189',
 '187',
 '190',
 '191',
 '190',
 '193',
 '191',
 '188',
 '187',
 '189',
 '189',
 '187',
 '189',
 '192',
 '191',
 '191',
 '191',
 '191',
 '191']

In [9]:
len(first_row)

101

In [10]:
first_row = pd.DataFrame(first_row)

In [11]:
first_row =first_row.T
first_row

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0,195,112,277,192,186,188,191,189,190,...,189,189,187,189,192,191,191,191,191,191

In [12]:
first_row.columns = ['label', '0', '1', '2', '3', '4', '5', '6', '7','8','9','10',
              '11', '12', '13', '14', '15', '16', '17','18','19','20',
              '21', '22', '23', '24', '25', '26', '27','28','29','30',
              '31', '32', '33', '34', '35', '36', '37','38','39','40',
              '41', '42', '43', '44', '45', '46', '47','48','49','50',
              '51', '52', '53', '54', '55', '56', '57','58','59','60',
              '61', '62', '63', '64', '65', '66', '67','68','69','70',
              '71', '72', '73', '74', '75', '76', '77','78','79','80',
              '81', '82', '83', '84', '85', '86', '87','88','89','90',
              '91', '92', '93', '94', '95', '96', '97','98','99']
first_row

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,195,112,277,192,186,188,191,189,190,...,189,189,187,189,192,191,191,191,191,191

In [13]:
ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,112,277,192,186,188,191,189,190,191,...,189,187,189,192,191,191,191,191,191,187
1,0,277,192,186,188,191,189,190,191,189,...,187,189,192,191,191,191,191,191,187,190
2,0,192,186,188,191,189,190,191,189,187,...,189,192,191,191,191,191,191,187,190,192
3,0,186,188,191,189,190,191,189,187,189,...,192,191,191,191,191,191,187,190,192,191
4,0,188,191,189,190,191,189,187,189,188,...,191,191,191,191,191,187,190,192,191,188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58750,100,108,96,128,226,190,181,109,179,103,...,100,117,108,102,114,90,96,91,137,106
58751,100,96,128,226,190,181,109,179,103,91,...,117,108,102,114,90,96,91,137,106,104
58752,100,128,226,190,181,109,179,103,91,92,...,108,102,114,90,96,91,137,106,104,97
58753,100,226,190,181,109,179,103,91,92,110,...,102,114,90,96,91,137,106,104,97,110
58754,100,190,181,109,179,103,91,92,110,98,...,114,90,96,91,137,106,104,97,110,163

In [14]:
final_ecg = pd.concat([first_row, ecg])
final_ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,195,112,277,192,186,188,191,189,190,...,189,189,187,189,192,191,191,191,191,191
0,0,112,277,192,186,188,191,189,190,191,...,189,187,189,192,191,191,191,191,191,187
1,0,277,192,186,188,191,189,190,191,189,...,187,189,192,191,191,191,191,191,187,190
2,0,192,186,188,191,189,190,191,189,187,...,189,192,191,191,191,191,191,187,190,192
3,0,186,188,191,189,190,191,189,187,189,...,192,191,191,191,191,191,187,190,192,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58750,100,108,96,128,226,190,181,109,179,103,...,100,117,108,102,114,90,96,91,137,106
58751,100,96,128,226,190,181,109,179,103,91,...,117,108,102,114,90,96,91,137,106,104
58752,100,128,226,190,181,109,179,103,91,92,...,108,102,114,90,96,91,137,106,104,97
58753,100,226,190,181,109,179,103,91,92,110,...,102,114,90,96,91,137,106,104,97,110
58754,100,190,181,109,179,103,91,92,110,98,...,114,90,96,91,137,106,104,97,110,163

In [15]:
final_ecg =final_ecg.astype(float)

In [16]:
final_ecg_label=final_ecg["label"].astype(int)
final_ecg_label

0          0
0          0
1          0
2          0
3          0
        ...
58750    100
58751    100
58752    100
58753    100
58754    100
Name: label, Length: 58756, dtype: int32

In [17]:
final_ecg_divide =final_ecg.iloc[:,1:]/250*1000
# df.round(0).astype(int)
final_ecg_divide

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,780.0,448.0,1108.0,768.0,744.0,752.0,764.0,756.0,760.0,764.0,...,756.0,756.0,748.0,756.0,768.0,764.0,764.0,764.0,764.0,764.0
0,448.0,1108.0,768.0,744.0,752.0,764.0,756.0,760.0,764.0,756.0,...,756.0,748.0,756.0,768.0,764.0,764.0,764.0,764.0,764.0,748.0
1,1108.0,768.0,744.0,752.0,764.0,756.0,760.0,764.0,756.0,748.0,...,748.0,756.0,768.0,764.0,764.0,764.0,764.0,764.0,748.0,760.0
2,768.0,744.0,752.0,764.0,756.0,760.0,764.0,756.0,748.0,756.0,...,756.0,768.0,764.0,764.0,764.0,764.0,764.0,748.0,760.0,768.0
3,744.0,752.0,764.0,756.0,760.0,764.0,756.0,748.0,756.0,752.0,...,768.0,764.0,764.0,764.0,764.0,764.0,748.0,760.0,768.0,764.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58750,432.0,384.0,512.0,904.0,760.0,724.0,436.0,716.0,412.0,364.0,...,400.0,468.0,432.0,408.0,456.0,360.0,384.0,364.0,548.0,424.0
58751,384.0,512.0,904.0,760.0,724.0,436.0,716.0,412.0,364.0,368.0,...,468.0,432.0,408.0,456.0,360.0,384.0,364.0,548.0,424.0,416.0
58752,512.0,904.0,760.0,724.0,436.0,716.0,412.0,364.0,368.0,440.0,...,432.0,408.0,456.0,360.0,384.0,364.0,548.0,424.0,416.0,388.0
58753,904.0,760.0,724.0,436.0,716.0,412.0,364.0,368.0,440.0,392.0,...,408.0,456.0,360.0,384.0,364.0,548.0,424.0,416.0,388.0,440.0
58754,760.0,724.0,436.0,716.0,412.0,364.0,368.0,440.0,392.0,660.0,...,456.0,360.0,384.0,364.0,548.0,424.0,416.0,388.0,440.0,652.0

In [18]:
final_ecg_divide=final_ecg_divide.round(0).astype(int)
final_ecg_divide

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,780,448,1108,768,744,752,764,756,760,764,...,756,756,748,756,768,764,764,764,764,764
0,448,1108,768,744,752,764,756,760,764,756,...,756,748,756,768,764,764,764,764,764,748
1,1108,768,744,752,764,756,760,764,756,748,...,748,756,768,764,764,764,764,764,748,760
2,768,744,752,764,756,760,764,756,748,756,...,756,768,764,764,764,764,764,748,760,768
3,744,752,764,756,760,764,756,748,756,752,...,768,764,764,764,764,764,748,760,768,764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58750,432,384,512,904,760,724,436,716,412,364,...,400,468,432,408,456,360,384,364,548,424
58751,384,512,904,760,724,436,716,412,364,368,...,468,432,408,456,360,384,364,548,424,416
58752,512,904,760,724,436,716,412,364,368,440,...,432,408,456,360,384,364,548,424,416,388
58753,904,760,724,436,716,412,364,368,440,392,...,408,456,360,384,364,548,424,416,388,440
58754,760,724,436,716,412,364,368,440,392,660,...,456,360,384,364,548,424,416,388,440,652

In [19]:
final_fianl_ecg_data = pd.concat([final_ecg_label, final_ecg_divide], axis=1)
final_fianl_ecg_data

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,780,448,1108,768,744,752,764,756,760,...,756,756,748,756,768,764,764,764,764,764
0,0,448,1108,768,744,752,764,756,760,764,...,756,748,756,768,764,764,764,764,764,748
1,0,1108,768,744,752,764,756,760,764,756,...,748,756,768,764,764,764,764,764,748,760
2,0,768,744,752,764,756,760,764,756,748,...,756,768,764,764,764,764,764,748,760,768
3,0,744,752,764,756,760,764,756,748,756,...,768,764,764,764,764,764,748,760,768,764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58750,100,432,384,512,904,760,724,436,716,412,...,400,468,432,408,456,360,384,364,548,424
58751,100,384,512,904,760,724,436,716,412,364,...,468,432,408,456,360,384,364,548,424,416
58752,100,512,904,760,724,436,716,412,364,368,...,432,408,456,360,384,364,548,424,416,388
58753,100,904,760,724,436,716,412,364,368,440,...,408,456,360,384,364,548,424,416,388,440
58754,100,760,724,436,716,412,364,368,440,392,...,456,360,384,364,548,424,416,388,440,652

In [20]:
final_fianl_ecg_data.reset_index(inplace=True)

In [21]:
del final_fianl_ecg_data['index']

In [22]:
final_fianl_ecg_data

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,780,448,1108,768,744,752,764,756,760,...,756,756,748,756,768,764,764,764,764,764
1,0,448,1108,768,744,752,764,756,760,764,...,756,748,756,768,764,764,764,764,764,748
2,0,1108,768,744,752,764,756,760,764,756,...,748,756,768,764,764,764,764,764,748,760
3,0,768,744,752,764,756,760,764,756,748,...,756,768,764,764,764,764,764,748,760,768
4,0,744,752,764,756,760,764,756,748,756,...,768,764,764,764,764,764,748,760,768,764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58751,100,432,384,512,904,760,724,436,716,412,...,400,468,432,408,456,360,384,364,548,424
58752,100,384,512,904,760,724,436,716,412,364,...,468,432,408,456,360,384,364,548,424,416
58753,100,512,904,760,724,436,716,412,364,368,...,432,408,456,360,384,364,548,424,416,388
58754,100,904,760,724,436,716,412,364,368,440,...,408,456,360,384,364,548,424,416,388,440
58755,100,760,724,436,716,412,364,368,440,392,...,456,360,384,364,548,424,416,388,440,652

In [23]:
final_fianl_ecg_data.to_csv('08215_label_100_data_revise.csv', index='true')

In [87]:
# final_ecg[1:].astype(float)/250

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
1,0.0,0.632,0.904,0.580,0.576,0.956,0.592,0.596,0.936,0.848,...,0.448,0.532,0.576,0.432,0.504,0.976,0.564,0.768,0.948,0.536
2,0.0,0.904,0.580,0.576,0.956,0.592,0.596,0.936,0.848,0.868,...,0.532,0.576,0.432,0.504,0.976,0.564,0.768,0.948,0.536,0.664
3,0.0,0.580,0.576,0.956,0.592,0.596,0.936,0.848,0.868,0.808,...,0.576,0.432,0.504,0.976,0.564,0.768,0.948,0.536,0.664,0.960
4,0.0,0.576,0.956,0.592,0.596,0.936,0.848,0.868,0.808,0.828,...,0.432,0.504,0.976,0.564,0.768,0.948,0.536,0.664,0.960,0.540
5,0.0,0.956,0.592,0.596,0.936,0.848,0.868,0.808,0.828,0.824,...,0.504,0.976,0.564,0.768,0.948,0.536,0.664,0.960,0.540,0.552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43900,0.0,0.780,0.840,0.816,0.816,0.804,0.820,0.812,0.804,0.812,...,0.812,0.808,0.776,0.848,0.824,0.828,0.780,0.860,0.840,0.828
43901,0.0,0.840,0.816,0.816,0.804,0.820,0.812,0.804,0.812,0.812,...,0.808,0.776,0.848,0.824,0.828,0.780,0.860,0.840,0.828,0.824
43902,0.0,0.816,0.816,0.804,0.820,0.812,0.804,0.812,0.812,0.804,...,0.776,0.848,0.824,0.828,0.780,0.860,0.840,0.828,0.824,0.816
43903,0.0,0.816,0.804,0.820,0.812,0.804,0.812,0.812,0.804,0.820,...,0.848,0.824,0.828,0.780,0.860,0.840,0.828,0.824,0.816,0.812
43904,0.0,0.804,0.820,0.812,0.804,0.812,0.812,0.804,0.820,0.804,...,0.824,0.828,0.780,0.860,0.840,0.828,0.824,0.816,0.812,0.828

AttributeError: type object 'type' has no attribute 'final_ecg'

In [67]:
final_ecg["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", 
          "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", 
          "21", "22", "23", "24", "25", "26", "27", "28", "29", "30",
          "31", "32", "33", "34", "35", "36", "37", "38", "39", "40",
          "41", "42", "43", "44", "45", "46", "47", "48", "49", "50",
          "51", "52", "53", "54", "55", "56", "57", "58", "59", "60",
          "61", "62", "63", "64", "65", "66", "67", "68", "69", "70",
          "71", "72", "73", "74", "75", "76", "77", "78", "79", "80",
          "81", "82", "83", "84", "85", "86", "87", "88", "89", "90",
          "91", "92", "93", "94", "95", "96", "97", "98", "99"]

KeyError: ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99')

In [49]:
final_ecg.reset_index(inplace=True)
# final_ecg.set_index(0:43905)

In [61]:
final_ecg['0', '1', '2', '3', '4', '5', '6', '7','8','9','10',
              '11', '12', '13', '14', '15', '16', '17','18','19','20',
              '21', '22', '23', '24', '25', '26', '27','28','29','30',
              '31', '32', '33', '34', '35', '36', '37','38','39','40',
              '41', '42', '43', '44', '45', '46', '47','48','49','50',
              '51', '52', '53', '54', '55', '56', '57','58','59','60',
              '61', '62', '63', '64', '65', '66', '67','68','69','70',
              '71', '72', '73', '74', '75', '76', '77','78','79','80',
              '81', '82', '83', '84', '85', '86', '87','88','89','90',
              '91', '92', '93', '94', '95', '96', '97','98','99']

KeyError: ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99')

In [51]:
del final_ecg['index']

In [56]:
final_ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,139,158,226,145,144,239,148,149,234,...,120,112,133,144,108,126,244,141,192,237
1,0,158,226,145,144,239,148,149,234,212,...,112,133,144,108,126,244,141,192,237,134
2,0,226,145,144,239,148,149,234,212,217,...,133,144,108,126,244,141,192,237,134,166
3,0,145,144,239,148,149,234,212,217,202,...,144,108,126,244,141,192,237,134,166,240
4,0,144,239,148,149,234,212,217,202,207,...,108,126,244,141,192,237,134,166,240,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43900,0,195,210,204,204,201,205,203,201,203,...,203,202,194,212,206,207,195,215,210,207
43901,0,210,204,204,201,205,203,201,203,203,...,202,194,212,206,207,195,215,210,207,206
43902,0,204,204,201,205,203,201,203,203,201,...,194,212,206,207,195,215,210,207,206,204
43903,0,204,201,205,203,201,203,203,201,205,...,212,206,207,195,215,210,207,206,204,203
43904,0,201,205,203,201,203,203,201,205,201,...,206,207,195,215,210,207,206,204,203,207

In [ ]:
final_ecg[]

In [58]:
final_ecg_divide = final_ecg.iloc[:, 1:]

type(final_ecg_divide)

pandas.core.frame.DataFrame

In [59]:
final_ecg_divide = pd.to_numeric(final_ecg_divide, errors='coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [55]:
final_ecg_divide = int(final_ecg_divide)/250*1000

final_ecg_divide

TypeError: int() argument must be a string, a bytes-like object or a number, not 'DataFrame'

In [10]:
up_append

Empty DataFrame
Columns: [0, 139, 158, 226, 145, 144, 239, 148, 149, 234, 212, 217, 202, 207, 206, 137, 135, 131, 94, 125, 117, 220, 224, 134, 146, 249, 139.1, 153, 234.1, 217.1, 221, 215, 205, 209, 141, 139.2, 123, 94.1, 120, 104, 95, 115, 97, 166, 123.1, 74, 123.2, 109, 83, 88, 122, 149.1, 100, 141.1, 247, 221.1, 213, 132, 287, 146.1, 279, 144.1, 132.1, 233, 145.1, 180, 234.2, 145.2, 148.1, 231, 228, 202.1, 209.1, 208, 216, 200, 208.1, 204, 204.1, 207.1, 206.1, 207.2, 204.2, 214, 200.1, 206.2, 205.1, 205.2, 139.3, 129, 131.1, 120.1, 112, 133, 144.2, 108, 126, 244, 141.2, 192, ...]
Index: []

[0 rows x 101 columns]

In [13]:
up_append_np = np.array(up_append)

In [14]:
up_append_np

array([], shape=(0, 101), dtype=int64)

In [15]:
up_append_np.reshape(-1,)

array([], dtype=int64)

In [16]:
up_append_np

array([], shape=(0, 101), dtype=int64)