In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
ecg = pd.read_csv('08434_label_100_data.csv')
ecg

,0,209,208,203,210,206,203.1,207,207.1,204,...,228,228.1,227.1,233.7,234.5,231.2,239.6,243.1,130,282
0,0,208,203,210,206,203,207,207,204,206,...,228,227,233,234,231,239,243,130,282,246
1,0,203,210,206,203,207,207,204,206,206,...,227,233,234,231,239,243,130,282,246,124
2,0,210,206,203,207,207,204,206,206,205,...,233,234,231,239,243,130,282,246,124,279
3,0,206,203,207,207,204,206,206,205,207,...,234,231,239,243,130,282,246,124,279,245
4,0,203,207,207,204,206,206,205,207,209,...,231,239,243,130,282,246,124,279,245,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39744,0,234,236,232,235,230,231,224,227,224,...,240,241,236,241,243,242,244,241,238,246
39745,0,236,232,235,230,231,224,227,224,214,...,241,236,241,243,242,244,241,238,246,246
39746,0,232,235,230,231,224,227,224,214,244,...,236,241,243,242,244,241,238,246,246,243
39747,0,235,230,231,224,227,224,214,244,230,...,241,243,242,244,241,238,246,246,243,252
39748,0,230,231,224,227,224,214,244,230,224,...,243,242,244,241,238,246,246,243,252,249

In [3]:
ecg.columns = ['label', '0', '1', '2', '3', '4', '5', '6', '7','8','9','10',
              '11', '12', '13', '14', '15', '16', '17','18','19','20',
              '21', '22', '23', '24', '25', '26', '27','28','29','30',
              '31', '32', '33', '34', '35', '36', '37','38','39','40',
              '41', '42', '43', '44', '45', '46', '47','48','49','50',
              '51', '52', '53', '54', '55', '56', '57','58','59','60',
              '61', '62', '63', '64', '65', '66', '67','68','69','70',
              '71', '72', '73', '74', '75', '76', '77','78','79','80',
              '81', '82', '83', '84', '85', '86', '87','88','89','90',
              '91', '92', '93', '94', '95', '96', '97','98','99']

In [4]:
ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,208,203,210,206,203,207,207,204,206,...,228,227,233,234,231,239,243,130,282,246
1,0,203,210,206,203,207,207,204,206,206,...,227,233,234,231,239,243,130,282,246,124
2,0,210,206,203,207,207,204,206,206,205,...,233,234,231,239,243,130,282,246,124,279
3,0,206,203,207,207,204,206,206,205,207,...,234,231,239,243,130,282,246,124,279,245
4,0,203,207,207,204,206,206,205,207,209,...,231,239,243,130,282,246,124,279,245,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39744,0,234,236,232,235,230,231,224,227,224,...,240,241,236,241,243,242,244,241,238,246
39745,0,236,232,235,230,231,224,227,224,214,...,241,236,241,243,242,244,241,238,246,246
39746,0,232,235,230,231,224,227,224,214,244,...,236,241,243,242,244,241,238,246,246,243
39747,0,235,230,231,224,227,224,214,244,230,...,241,243,242,244,241,238,246,246,243,252
39748,0,230,231,224,227,224,214,244,230,224,...,243,242,244,241,238,246,246,243,252,249

In [5]:
import re
string = "0	209	208	203	210	206	203	207	207	204	206	206	205	207	209	210	207	211	210	207	212	215	210	215	214	208	214	213	213	218	217	211	216	213	215	218	222	227	231	231	235	240	234	239	239	239	240	233	232	232	233	233	232	237	237	234	239	237	234	235	236	238	243	239	238	236	242	239	237	241	237	230	235	235	233	236	234	225	225	221	226	226	230	234	233	236	233	230	237	232	233	228	228	227	233	234	231	239	243	130	282"

















pattern = re.compile("^\s+|\s*,\s*|\s+$,\t")
print([x for x in pattern.split(string) if x])
first_row = [x for x in pattern.split(string) if x]

# first_row.split('\t')

['0\t209\t208\t203\t210\t206\t203\t207\t207\t204\t206\t206\t205\t207\t209\t210\t207\t211\t210\t207\t212\t215\t210\t215\t214\t208\t214\t213\t213\t218\t217\t211\t216\t213\t215\t218\t222\t227\t231\t231\t235\t240\t234\t239\t239\t239\t240\t233\t232\t232\t233\t233\t232\t237\t237\t234\t239\t237\t234\t235\t236\t238\t243\t239\t238\t236\t242\t239\t237\t241\t237\t230\t235\t235\t233\t236\t234\t225\t225\t221\t226\t226\t230\t234\t233\t236\t233\t230\t237\t232\t233\t228\t228\t227\t233\t234\t231\t239\t243\t130\t282']

In [6]:
first_row =first_row[0].split('\t')

In [7]:
type(first_row)

list

In [8]:
first_row

['0',
 '209',
 '208',
 '203',
 '210',
 '206',
 '203',
 '207',
 '207',
 '204',
 '206',
 '206',
 '205',
 '207',
 '209',
 '210',
 '207',
 '211',
 '210',
 '207',
 '212',
 '215',
 '210',
 '215',
 '214',
 '208',
 '214',
 '213',
 '213',
 '218',
 '217',
 '211',
 '216',
 '213',
 '215',
 '218',
 '222',
 '227',
 '231',
 '231',
 '235',
 '240',
 '234',
 '239',
 '239',
 '239',
 '240',
 '233',
 '232',
 '232',
 '233',
 '233',
 '232',
 '237',
 '237',
 '234',
 '239',
 '237',
 '234',
 '235',
 '236',
 '238',
 '243',
 '239',
 '238',
 '236',
 '242',
 '239',
 '237',
 '241',
 '237',
 '230',
 '235',
 '235',
 '233',
 '236',
 '234',
 '225',
 '225',
 '221',
 '226',
 '226',
 '230',
 '234',
 '233',
 '236',
 '233',
 '230',
 '237',
 '232',
 '233',
 '228',
 '228',
 '227',
 '233',
 '234',
 '231',
 '239',
 '243',
 '130',
 '282']

In [9]:
len(first_row)

101

In [10]:
first_row = pd.DataFrame(first_row)

In [11]:
first_row =first_row.T
first_row

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0,209,208,203,210,206,203,207,207,204,...,228,228,227,233,234,231,239,243,130,282

In [12]:
first_row.columns = ['label', '0', '1', '2', '3', '4', '5', '6', '7','8','9','10',
              '11', '12', '13', '14', '15', '16', '17','18','19','20',
              '21', '22', '23', '24', '25', '26', '27','28','29','30',
              '31', '32', '33', '34', '35', '36', '37','38','39','40',
              '41', '42', '43', '44', '45', '46', '47','48','49','50',
              '51', '52', '53', '54', '55', '56', '57','58','59','60',
              '61', '62', '63', '64', '65', '66', '67','68','69','70',
              '71', '72', '73', '74', '75', '76', '77','78','79','80',
              '81', '82', '83', '84', '85', '86', '87','88','89','90',
              '91', '92', '93', '94', '95', '96', '97','98','99']
first_row

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,209,208,203,210,206,203,207,207,204,...,228,228,227,233,234,231,239,243,130,282

In [13]:
ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,208,203,210,206,203,207,207,204,206,...,228,227,233,234,231,239,243,130,282,246
1,0,203,210,206,203,207,207,204,206,206,...,227,233,234,231,239,243,130,282,246,124
2,0,210,206,203,207,207,204,206,206,205,...,233,234,231,239,243,130,282,246,124,279
3,0,206,203,207,207,204,206,206,205,207,...,234,231,239,243,130,282,246,124,279,245
4,0,203,207,207,204,206,206,205,207,209,...,231,239,243,130,282,246,124,279,245,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39744,0,234,236,232,235,230,231,224,227,224,...,240,241,236,241,243,242,244,241,238,246
39745,0,236,232,235,230,231,224,227,224,214,...,241,236,241,243,242,244,241,238,246,246
39746,0,232,235,230,231,224,227,224,214,244,...,236,241,243,242,244,241,238,246,246,243
39747,0,235,230,231,224,227,224,214,244,230,...,241,243,242,244,241,238,246,246,243,252
39748,0,230,231,224,227,224,214,244,230,224,...,243,242,244,241,238,246,246,243,252,249

In [14]:
final_ecg = pd.concat([first_row, ecg])
final_ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,209,208,203,210,206,203,207,207,204,...,228,228,227,233,234,231,239,243,130,282
0,0,208,203,210,206,203,207,207,204,206,...,228,227,233,234,231,239,243,130,282,246
1,0,203,210,206,203,207,207,204,206,206,...,227,233,234,231,239,243,130,282,246,124
2,0,210,206,203,207,207,204,206,206,205,...,233,234,231,239,243,130,282,246,124,279
3,0,206,203,207,207,204,206,206,205,207,...,234,231,239,243,130,282,246,124,279,245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39744,0,234,236,232,235,230,231,224,227,224,...,240,241,236,241,243,242,244,241,238,246
39745,0,236,232,235,230,231,224,227,224,214,...,241,236,241,243,242,244,241,238,246,246
39746,0,232,235,230,231,224,227,224,214,244,...,236,241,243,242,244,241,238,246,246,243
39747,0,235,230,231,224,227,224,214,244,230,...,241,243,242,244,241,238,246,246,243,252
39748,0,230,231,224,227,224,214,244,230,224,...,243,242,244,241,238,246,246,243,252,249

In [15]:
final_ecg =final_ecg.astype(float)

In [16]:
final_ecg_label=final_ecg["label"].astype(int)
final_ecg_label

0        0
0        0
1        0
2        0
3        0
        ..
39744    0
39745    0
39746    0
39747    0
39748    0
Name: label, Length: 39750, dtype: int32

In [17]:
final_ecg_divide =final_ecg.iloc[:,1:]/250*1000
# df.round(0).astype(int)
final_ecg_divide

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,836.0,832.0,812.0,840.0,824.0,812.0,828.0,828.0,816.0,824.0,...,912.0,912.0,908.0,932.0,936.0,924.0,956.0,972.0,520.0,1128.0
0,832.0,812.0,840.0,824.0,812.0,828.0,828.0,816.0,824.0,824.0,...,912.0,908.0,932.0,936.0,924.0,956.0,972.0,520.0,1128.0,984.0
1,812.0,840.0,824.0,812.0,828.0,828.0,816.0,824.0,824.0,820.0,...,908.0,932.0,936.0,924.0,956.0,972.0,520.0,1128.0,984.0,496.0
2,840.0,824.0,812.0,828.0,828.0,816.0,824.0,824.0,820.0,828.0,...,932.0,936.0,924.0,956.0,972.0,520.0,1128.0,984.0,496.0,1116.0
3,824.0,812.0,828.0,828.0,816.0,824.0,824.0,820.0,828.0,836.0,...,936.0,924.0,956.0,972.0,520.0,1128.0,984.0,496.0,1116.0,980.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39744,936.0,944.0,928.0,940.0,920.0,924.0,896.0,908.0,896.0,856.0,...,960.0,964.0,944.0,964.0,972.0,968.0,976.0,964.0,952.0,984.0
39745,944.0,928.0,940.0,920.0,924.0,896.0,908.0,896.0,856.0,976.0,...,964.0,944.0,964.0,972.0,968.0,976.0,964.0,952.0,984.0,984.0
39746,928.0,940.0,920.0,924.0,896.0,908.0,896.0,856.0,976.0,920.0,...,944.0,964.0,972.0,968.0,976.0,964.0,952.0,984.0,984.0,972.0
39747,940.0,920.0,924.0,896.0,908.0,896.0,856.0,976.0,920.0,896.0,...,964.0,972.0,968.0,976.0,964.0,952.0,984.0,984.0,972.0,1008.0
39748,920.0,924.0,896.0,908.0,896.0,856.0,976.0,920.0,896.0,888.0,...,972.0,968.0,976.0,964.0,952.0,984.0,984.0,972.0,1008.0,996.0

In [18]:
final_ecg_divide=final_ecg_divide.round(0).astype(int)
final_ecg_divide

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,836,832,812,840,824,812,828,828,816,824,...,912,912,908,932,936,924,956,972,520,1128
0,832,812,840,824,812,828,828,816,824,824,...,912,908,932,936,924,956,972,520,1128,984
1,812,840,824,812,828,828,816,824,824,820,...,908,932,936,924,956,972,520,1128,984,496
2,840,824,812,828,828,816,824,824,820,828,...,932,936,924,956,972,520,1128,984,496,1116
3,824,812,828,828,816,824,824,820,828,836,...,936,924,956,972,520,1128,984,496,1116,980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39744,936,944,928,940,920,924,896,908,896,856,...,960,964,944,964,972,968,976,964,952,984
39745,944,928,940,920,924,896,908,896,856,976,...,964,944,964,972,968,976,964,952,984,984
39746,928,940,920,924,896,908,896,856,976,920,...,944,964,972,968,976,964,952,984,984,972
39747,940,920,924,896,908,896,856,976,920,896,...,964,972,968,976,964,952,984,984,972,1008
39748,920,924,896,908,896,856,976,920,896,888,...,972,968,976,964,952,984,984,972,1008,996

In [19]:
final_fianl_ecg_data = pd.concat([final_ecg_label, final_ecg_divide], axis=1)
final_fianl_ecg_data

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,836,832,812,840,824,812,828,828,816,...,912,912,908,932,936,924,956,972,520,1128
0,0,832,812,840,824,812,828,828,816,824,...,912,908,932,936,924,956,972,520,1128,984
1,0,812,840,824,812,828,828,816,824,824,...,908,932,936,924,956,972,520,1128,984,496
2,0,840,824,812,828,828,816,824,824,820,...,932,936,924,956,972,520,1128,984,496,1116
3,0,824,812,828,828,816,824,824,820,828,...,936,924,956,972,520,1128,984,496,1116,980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39744,0,936,944,928,940,920,924,896,908,896,...,960,964,944,964,972,968,976,964,952,984
39745,0,944,928,940,920,924,896,908,896,856,...,964,944,964,972,968,976,964,952,984,984
39746,0,928,940,920,924,896,908,896,856,976,...,944,964,972,968,976,964,952,984,984,972
39747,0,940,920,924,896,908,896,856,976,920,...,964,972,968,976,964,952,984,984,972,1008
39748,0,920,924,896,908,896,856,976,920,896,...,972,968,976,964,952,984,984,972,1008,996

In [20]:
final_fianl_ecg_data.reset_index(inplace=True)

In [21]:
del final_fianl_ecg_data['index']

In [22]:
final_fianl_ecg_data

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,836,832,812,840,824,812,828,828,816,...,912,912,908,932,936,924,956,972,520,1128
1,0,832,812,840,824,812,828,828,816,824,...,912,908,932,936,924,956,972,520,1128,984
2,0,812,840,824,812,828,828,816,824,824,...,908,932,936,924,956,972,520,1128,984,496
3,0,840,824,812,828,828,816,824,824,820,...,932,936,924,956,972,520,1128,984,496,1116
4,0,824,812,828,828,816,824,824,820,828,...,936,924,956,972,520,1128,984,496,1116,980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39745,0,936,944,928,940,920,924,896,908,896,...,960,964,944,964,972,968,976,964,952,984
39746,0,944,928,940,920,924,896,908,896,856,...,964,944,964,972,968,976,964,952,984,984
39747,0,928,940,920,924,896,908,896,856,976,...,944,964,972,968,976,964,952,984,984,972
39748,0,940,920,924,896,908,896,856,976,920,...,964,972,968,976,964,952,984,984,972,1008
39749,0,920,924,896,908,896,856,976,920,896,...,972,968,976,964,952,984,984,972,1008,996

In [23]:
final_fianl_ecg_data.to_csv('08434_label_100_data_revise.csv', index='true')

In [87]:
# final_ecg[1:].astype(float)/250

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
1,0.0,0.632,0.904,0.580,0.576,0.956,0.592,0.596,0.936,0.848,...,0.448,0.532,0.576,0.432,0.504,0.976,0.564,0.768,0.948,0.536
2,0.0,0.904,0.580,0.576,0.956,0.592,0.596,0.936,0.848,0.868,...,0.532,0.576,0.432,0.504,0.976,0.564,0.768,0.948,0.536,0.664
3,0.0,0.580,0.576,0.956,0.592,0.596,0.936,0.848,0.868,0.808,...,0.576,0.432,0.504,0.976,0.564,0.768,0.948,0.536,0.664,0.960
4,0.0,0.576,0.956,0.592,0.596,0.936,0.848,0.868,0.808,0.828,...,0.432,0.504,0.976,0.564,0.768,0.948,0.536,0.664,0.960,0.540
5,0.0,0.956,0.592,0.596,0.936,0.848,0.868,0.808,0.828,0.824,...,0.504,0.976,0.564,0.768,0.948,0.536,0.664,0.960,0.540,0.552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43900,0.0,0.780,0.840,0.816,0.816,0.804,0.820,0.812,0.804,0.812,...,0.812,0.808,0.776,0.848,0.824,0.828,0.780,0.860,0.840,0.828
43901,0.0,0.840,0.816,0.816,0.804,0.820,0.812,0.804,0.812,0.812,...,0.808,0.776,0.848,0.824,0.828,0.780,0.860,0.840,0.828,0.824
43902,0.0,0.816,0.816,0.804,0.820,0.812,0.804,0.812,0.812,0.804,...,0.776,0.848,0.824,0.828,0.780,0.860,0.840,0.828,0.824,0.816
43903,0.0,0.816,0.804,0.820,0.812,0.804,0.812,0.812,0.804,0.820,...,0.848,0.824,0.828,0.780,0.860,0.840,0.828,0.824,0.816,0.812
43904,0.0,0.804,0.820,0.812,0.804,0.812,0.812,0.804,0.820,0.804,...,0.824,0.828,0.780,0.860,0.840,0.828,0.824,0.816,0.812,0.828

AttributeError: type object 'type' has no attribute 'final_ecg'

In [67]:
final_ecg["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", 
          "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", 
          "21", "22", "23", "24", "25", "26", "27", "28", "29", "30",
          "31", "32", "33", "34", "35", "36", "37", "38", "39", "40",
          "41", "42", "43", "44", "45", "46", "47", "48", "49", "50",
          "51", "52", "53", "54", "55", "56", "57", "58", "59", "60",
          "61", "62", "63", "64", "65", "66", "67", "68", "69", "70",
          "71", "72", "73", "74", "75", "76", "77", "78", "79", "80",
          "81", "82", "83", "84", "85", "86", "87", "88", "89", "90",
          "91", "92", "93", "94", "95", "96", "97", "98", "99"]

KeyError: ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99')

In [49]:
final_ecg.reset_index(inplace=True)
# final_ecg.set_index(0:43905)

In [61]:
final_ecg['0', '1', '2', '3', '4', '5', '6', '7','8','9','10',
              '11', '12', '13', '14', '15', '16', '17','18','19','20',
              '21', '22', '23', '24', '25', '26', '27','28','29','30',
              '31', '32', '33', '34', '35', '36', '37','38','39','40',
              '41', '42', '43', '44', '45', '46', '47','48','49','50',
              '51', '52', '53', '54', '55', '56', '57','58','59','60',
              '61', '62', '63', '64', '65', '66', '67','68','69','70',
              '71', '72', '73', '74', '75', '76', '77','78','79','80',
              '81', '82', '83', '84', '85', '86', '87','88','89','90',
              '91', '92', '93', '94', '95', '96', '97','98','99']

KeyError: ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99')

In [51]:
del final_ecg['index']

In [56]:
final_ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,139,158,226,145,144,239,148,149,234,...,120,112,133,144,108,126,244,141,192,237
1,0,158,226,145,144,239,148,149,234,212,...,112,133,144,108,126,244,141,192,237,134
2,0,226,145,144,239,148,149,234,212,217,...,133,144,108,126,244,141,192,237,134,166
3,0,145,144,239,148,149,234,212,217,202,...,144,108,126,244,141,192,237,134,166,240
4,0,144,239,148,149,234,212,217,202,207,...,108,126,244,141,192,237,134,166,240,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43900,0,195,210,204,204,201,205,203,201,203,...,203,202,194,212,206,207,195,215,210,207
43901,0,210,204,204,201,205,203,201,203,203,...,202,194,212,206,207,195,215,210,207,206
43902,0,204,204,201,205,203,201,203,203,201,...,194,212,206,207,195,215,210,207,206,204
43903,0,204,201,205,203,201,203,203,201,205,...,212,206,207,195,215,210,207,206,204,203
43904,0,201,205,203,201,203,203,201,205,201,...,206,207,195,215,210,207,206,204,203,207

In [ ]:
final_ecg[]

In [58]:
final_ecg_divide = final_ecg.iloc[:, 1:]

type(final_ecg_divide)

pandas.core.frame.DataFrame

In [59]:
final_ecg_divide = pd.to_numeric(final_ecg_divide, errors='coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [55]:
final_ecg_divide = int(final_ecg_divide)/250*1000

final_ecg_divide

TypeError: int() argument must be a string, a bytes-like object or a number, not 'DataFrame'

In [10]:
up_append

Empty DataFrame
Columns: [0, 139, 158, 226, 145, 144, 239, 148, 149, 234, 212, 217, 202, 207, 206, 137, 135, 131, 94, 125, 117, 220, 224, 134, 146, 249, 139.1, 153, 234.1, 217.1, 221, 215, 205, 209, 141, 139.2, 123, 94.1, 120, 104, 95, 115, 97, 166, 123.1, 74, 123.2, 109, 83, 88, 122, 149.1, 100, 141.1, 247, 221.1, 213, 132, 287, 146.1, 279, 144.1, 132.1, 233, 145.1, 180, 234.2, 145.2, 148.1, 231, 228, 202.1, 209.1, 208, 216, 200, 208.1, 204, 204.1, 207.1, 206.1, 207.2, 204.2, 214, 200.1, 206.2, 205.1, 205.2, 139.3, 129, 131.1, 120.1, 112, 133, 144.2, 108, 126, 244, 141.2, 192, ...]
Index: []

[0 rows x 101 columns]

In [13]:
up_append_np = np.array(up_append)

In [14]:
up_append_np

array([], shape=(0, 101), dtype=int64)

In [15]:
up_append_np.reshape(-1,)

array([], dtype=int64)

In [16]:
up_append_np

array([], shape=(0, 101), dtype=int64)